[submodule "php"]
	path = php
	url = https://github.com/docker-library/php
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/pandoc/dockerfiles
[submodule "composer"]
	path = composer
	url = https://github.com/composer/docker
[submodule "docker-node"]
	path = docker-node
	url = https://github.com/nodejs/docker-node.git
